<div class="pagination pagination-small text-center width750" ng-show="paginator.pageCount() > 1">
    <ul>
        <li ng-click="paginator.firstPage()" >
            <a class="btn-primary">
                <i ng-hide="paginator.isFirstPage()" class="icon-fast-backward" ng-class="!paginator.isFirstPage() && 'icon-white'"></i>
                <i ng-hide="!paginator.isFirstPage()">&nbsp;</i>
            </a>
        </li>
        <li ng-click="paginator.perviousPage()" >
            <a class="btn-primary">
                <i ng-hide="paginator.isFirstPage()"class="icon-step-backward" ng-class="!paginator.isFirstPage() && 'icon-white'"></i>
                <i ng-hide="!paginator.isFirstPage()">&nbsp;</i>
            </a>
        </li>
        <li ng-click="paginator.setPage(i)" ng-repeat="i in [] | forLoop:0:paginator.pageCount()" ng-class="paginator.page==i && 'active'">
            <a ng-class="{'btn-success': paginator.page==i}" class="btn-primary">{{i+1}}</a>
        </li>
        <li ng-click="paginator.nextPage()" >
            <a class="btn-primary">
                <i ng-hide="paginator.isLastPage()" class="icon-step-forward" ng-class="!paginator.isLastPage() && 'icon-white'"></i>
                <i ng-hide="!paginator.isLastPage()">&nbsp;</i>
            </a>
        </li>
        <li ng-click="paginator.lastPage()" >
            <a class="btn-primary">
                <i ng-hide="paginator.isLastPage()" class="icon-fast-forward" ng-class="!paginator.isLastPage() && 'icon-white'"></i>
                <i ng-hide="!paginator.isLastPage()">&nbsp;</i>
            </a>
        </li>
    </ul>
</div>